# Kafka
KAFKA_SERVERS=localhost:9094
NOTIFICATION_TOPIC=notification.message.in

# Mail Credentials (get app-password in your mail account settings)
SPRING_MAIL_USERNAME=example@mail.ru
SPRING_MAIL_PASSWORD=abcd-efgh-ijkl-mnop

# Optional
APP_DEBUG=false